RewriteEngine On

RewriteRule ^\.git(/.*)?$ - [F,L,NC]
RewriteRule ^vendor(/.*)?$ - [F,L,NC]

<FilesMatch "(\.(conf|lib)\.php|\.template|\.lock|\.json|\.sql|\.inc)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>