* {
    box-sizing:border-box;
}

body {
    background-color: #a0a0a0;
}

header, div.liste {
    padding-left: 2%;
    padding-right: 2%;
}

.suche {
    padding-bottom: 20px;
}

#tabelle, tr, th, td{
    width: 100%;
    border-collapse: collapse;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    height: 30px;
    border-radius: 20px;
}

th {
    text-align: center;
}

th.tid, td.tid {
    width: 30px;
    text-align: right;
    padding-right: 3px;
}

th.titel, td.titel {
    width: 150px;
    padding-left: 5px;
}

th.desc, td.desc {
    padding-left: 5px;
}

th.prio, td.prio {
    width: 100px;
    padding-left: 5px;
}

th.date, td.date {
    width: 100px;
    text-align: center;
}