* {
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
  color-scheme: light dark;}

@media (prefers-color-scheme: dark) {
	:root {
	  --background-color: #323232;
	  --text-color: #ddd;
	  --shadow-color: #111;
	  --highlight: #666;
	  --primary: hsl(12, 90%, 60%);
	}
  h2 {
    --text-color: #ddd;
  }
  .formContainer {
    background-color: #666666;
  }
  #tabelle {
    background-color: #646464;
  }
  th {
    background-color: #155a5a;
  }
  select#prio, textarea {
    color: #666;
    background-color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
	:root {
	  --background-color: #fefefe;
	  --text-color: #222;
	  --shadow-color: #999;
	  --highlight: #cdcdcd;
	  --primary: hsl(12, 70%, 40%);
	}
  h2 {
    --text-color: #222;
  }
  .formContainer {
    background-color: #fff;
  }
  #tabelle {
    background-color: rgb(221, 221, 221);
  }
  th {
    background-color: aqua;
  }
  select#prio {
    background-color: #ddd;
  }
  textarea {
    background-color: #ddd;
    color: #222;
  }
}

body {
	background-color: var(--background-color);
	color: var (--text-color);
}

header, div.liste {
    padding-left: 2%;
    padding-right: 2%;
}

.suche {
    padding-bottom: 20px;
}

#tabelle {
    width: 100%;
}

#tabelle, tr, th, td{
    border-collapse: collapse;
    border: 2px solid black;
    height: 30px;
}

th {
    text-align: center;
}

td.tid, th.tid {
    width: 35px;
    text-align: center;
}

th.titel, td.titel {
    width: 150px;
    padding-left: 5px;
}

th.desc, td.desc {
    padding-left: 5px;
}

th.prio, td.prio {
    width: 100px;
    padding-left: 5px;
}

th.date, td.date {
    width: 100px;
    text-align: center;
}

.openBtn {
  display: flex;
  justify-content: left;
}

.ticketPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
   display: none;
   position: fixed;
   left: 45%;
   top: 5%;
   transform: translate(-50%, 5%);
   border: 3px solid #999999;
   z-index: 9;
}

.formContainer {
  max-width: 500px;
  padding: 20px;
}

.formContainer input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  background: #eee;
  border: 2px solid black;
  color: #222;
}

.formContainer input:focus {
  background-color: #ddd;
  outline: none;
  border: 2px solid black;
}

.formContainer input#desc {
  text-align: start;
  height: fit-content;
  overflow: scroll;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

.formContainer textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  resize: none;
  padding: 15px;
  border: 2px solid black;
}

select#prio {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 15px;
  padding-left: 12px;
}